<nav class="flex items-center justify-between flex-wrap bg-green-600 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <span class="font-semibold text-xl tracking-tight">
      Inputs with X-State and Ember
    </span>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <LinkTo
        class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
        @route="time-input"
      >
        Time Input
      </LinkTo>
    </div>
  </div>
</nav>
<main class="container mx-auto">
  {{outlet}}
</main>