<h2>
  Time Input
</h2>
<div>
  <XStateInspector />
  <H::TimeInput @time={{this.time}} @onChange={{fn (mut this.time)}} />

  <hr />

  <label for="time">Passed in value: </label>{{this.time}}
</div>